*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-tr: background 0.2s;
}

[data-theme="latte"] {
  --base: #dce0e8;
  --mantle: #e6e9ef;
  --crust: #eff1f5;
  --surface-zero: #ccd0da;
  --surface-one: #bcc0cc;
  --surface-two: #acb0be;
  --overlay-zero: #9ca0b0;
  --overlay-one: #8c8fa1;
  --overlay-two: #7c7f93;
  --text: #4c4f69;
  --subtext-zero: #6c6f85;
  --subtext-one: #5c5f77;
  --lavender: #7287fd;
  --blue: #1e66f5;
  --sapphire: #209fb5;
  --sky: #04a5e5;
  --teal: #179299;
  --green: #40a02b;
  --yellow: #df8e1d;
  --peach: #fe640b;
  --maroon: #e64553;
  --red: #d20f39;
  --mauve: #8839ef;
  --pink: #ea76cb;
  --flamingo: #dd7878;
  --rosewater: #dc8a78;
}
[data-theme="frappe"] {
  --base: #303446;
  --mantle: #292c3c;
  --crust: #232634;
  --surface-zero: #414559;
  --surface-one: #51576d;
  --surface-two: #626880;
  --overlay-zero: #737994;
  --overlay-one: #838ba7;
  --overlay-two: #949cbb;
  --text: #c6d0f5;
  --subtext-zero: #a5adce;
  --subtext-one: #b5bfe2;
  --lavender: #babbf1;
  --blue: #8caaee;
  --sapphire: #85c1dc;
  --sky: #99d1db;
  --teal: #81c8be;
  --green: #a6d189;
  --yellow: #e5c890;
  --peach: #ef9f76;
  --maroon: #ea999c;
  --red: #e78284;
  --mauve: #ca9ee6;
  --pink: #f4b8e4;
  --flamingo: #eebebe;
  --rosewater: #f2d5cf;

}

.app {
  background-color: var(--base);
  transition: var(--bg-tr);
}

.navbar {
  background-color: var(--mantle);
  display: inline-flex;
  width: 100%;
  border-bottom: 1px solid var(--overlay-zero);
  justify-content: space-between;
  align-items: center;
  min-height: 5.5vh;
  transition: var(--bg-tr);
}

.title {
  display: flex;
  color: var(--teal);
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
}

.favicons {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.favicon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.feed_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.feed {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article {
  border: 1px var(--overlay-zero) solid;
  border-radius: 7px;
  width: 85%;
  min-height: default;
  margin: 2px;
  color: var(--text);
  overflow: hidden;
}
.article a {
  color: var(--blue);
}

.header {
  border-bottom: 1px var(--overlay-zero) solid;
  padding: 5px;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--crust);
  transition: var(--bg-tr);
}

.core {
  padding: 5px;
  background-color: var(--mantle);
  transition: var(--bg-tr);
  text-align: left;
}

.footer {
  padding: 5px;
}

svg {
  color: var(--text);
}

a:hover svg {
  color: var(--blue);
}

button:hover svg {
  color: var(--blue);
}

.dropdown_menu_container {
  position: relative;
  display: flex;
}

.dropdown_menu {
  position: absolute;
  width: 200px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background: var(--crust);
  top: 100%;
  right: 0;
  border-bottom: 1px solid var(--overlay-zero);
  border-left: 1px solid var(--overlay-zero);
}

.dropdown_menu a { 
  display: flex;
  align-items: center;
  column-gap: 2px;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: var(--text);
  background-color: var(--mantle);
}

.dropdown_menu a:hover {
  background-color: var(--blue);
  color: white;
}

[data-visibility="false"] {
  visibility: hidden;
  opacity: 0;
}

[data-visibility="true"] {
  visibility: visible;
  opacity: 1;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button {
  font-size: 100%;
  font-family: inherit;
}

button:hover {
  border-color: var(--lavender);
}

button:hover .header {
  background-color: var(--blue);
}

.article[data-selected="false"] {
  height: default;
}

.article[data-selected="true"] {
  height: 100%;
}

.search-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  width: 30vw;
  height: 100%;
  background-color: var(--crust);
  border: var(--overlay-zero) 1px solid;
  border-radius: 5px;
  padding: 0;
  margin: 0;
  font-size: 24px;
  color: var(--text);
  outline: none;
}

.search-svg {
  color: var(--text);
  width: auto;
  height: 1.5em;
}

.login {
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: var(--mantle);
  border: 1px solid var(--overlay-zero);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
          
}

.sub {
  width: 50%;
  height: 20%;
  background-color: var(--blue);
  border: 1px solid var(--overlay-zero);
  border-radius: 10px;
  margin: 10px;
}

.login-items {
  width: 50%;
  height: 60%;
  margin: 10px;
  border-radius: 5px;
  background-color: var(--crust);
  border: 1px solid var(--overlay-zero);
}

.login-label {
  color: var(--text);
}

.login-title {
  color: var(--text);
}
